@import 'fonts';
@import 'vars';
@import 'mixins/index';
@import 'null';

html {
    box-sizing: border-box;

    &.disable-fix {
        @media (min-width: 1025px) {
            padding-right: 17px;
        }
    }
}

body {
    min-width: 320px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000;
    font-size: 1.4rem;
    line-height: 2.1rem;
    overflow-x: hidden;

    &._lock {
        overflow-y: hidden;
    }
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

button,
textarea,
input {
    font-family: 'Raleway', sans-serif;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

dt {
    float: left;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: none;

    table & {
        max-width: none;
    }
}

a {
    transition: var(--transition) all;

    @media (any-hover: hover) {
        &:hover {
            
        }
    }
}

@import '../components/container/_container';
@import './helpers';
@import '../components/@atoms/index';
@import '../components/^molecules/index';
@import '../components/&organisms/index';
